#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0vh;
  place-items: center;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.container > input {
  height: 2rem;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  text-align: center;
}

.container > label {
  font-size: 20px;
}

.tablas {
  display: flex;
  gap: 10vw;
}
